body {
  background: #eeeeee;
  margin: 0 auto; }

header,
.container,
footer {
  margin: 0 auto;
  max-width: 100%; }

.wrapper {
  padding: 1em 0;
  background: #ffffff; }

h2, p {
  color: #2b2c2d; }

svg {
  display: block; }

.opening {
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative; }

.box {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  width: 400px;
  height: 100vh;
  background: rgba(15, 15, 15, 0.8); }

.box h2 {
  padding-top: 300px;
  text-align: center;
  font-size: 40px;
  line-height: 1.8;
  padding-left: 10px;
  padding-right: 10px;
  color: #F4F5F5;
  margin: 0;
  font-family: 'Inconsolata', monospace; }

.box h3 {
  padding-left: 23px;
  padding-right: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 1.8;
  color: #FA8072;
  margin: 0;
  font-family: 'Inconsolata', monospace; }

img {
  position: absolute;
  right: 85px;
  top: 30px;
  width: 250px;
  height: auto; }

.money {
  margin-top: 0;
  min-height: 100vh;
  position: relative;
  z-index: 1000; }

.side {
  background-color: #27333f;
  min-height: 100vh;
  width: 400px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0; }

.side h2, .side h3 {
  transform: rotate(90deg);
  padding-left: 300px;
  font-size: 80px;
  color: rgba(237, 237, 81, 0.9);
  text-align: center;
  margin: 0; }

.side h3 {
  top: 300px;
  font-size: 45px;
  color: #FA8072; }

.description-box h2 {
  padding-top: 100px; }

.side2 h2, .side2 h3 {
  transform: rotate(-90deg);
  padding-top: 20px;
  padding-left: 00px;
  font-size: 80px;
  color: rgba(229, 230, 232, 0.8);
  text-align: center; }

.side2 h3 {
  top: 300px;
  font-size: 45px;
  color: #FA8072; }

.side2 {
  background-color: #27333f;
  min-height: 100vh;
  width: 400px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0; }

.agriculture {
  min-height: 100vh;
  position: relative; }

.description-box2 h2 {
  padding-top: 200px; }

@media screen and (min-width: 48em) {
  .opening {
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative; }

  .box {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    width: 400px;
    height: 100vh;
    background: rgba(15, 15, 15, 0.8); }

  .box h2 {
    padding-top: 250px;
    text-align: center;
    font-size: 40px;
    line-height: 1.8;
    color: #F4F5F5;
    margin: 0;
    font-family: 'Inconsolata', monospace; }

  .box h3 {
    text-align: center;
    font-size: 40px;
    line-height: 1.8;
    color: #FA8072;
    margin: 0;
    font-family: 'Inconsolata', monospace; }

  img {
    position: absolute;
    right: 95px;
    top: 30px;
    width: 250px;
    height: auto; }

  .money {
    background-image: url(../images/background-project.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1000; }

  .money h2 {
    font-weight: 800; }

  .side {
    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0; }

  .side h2, .side h3 {
    transform: rotate(90deg);
    padding-left: 100px;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center;
    margin: 0; }

  .side h3 {
    top: 300px;
    font-size: 45px;
    color: #FA8072; }

  .side2 h2, .side2 h3 {
    transform: rotate(90deg);
    padding-left: 100px;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center; }

  .side2 h3 {
    top: 300px;
    font-size: 45px;
    color: #FA8072; }

  .side2 {
    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; }

  .side3 {
    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0; }

  .side3 h2, .side3 h3 {
    transform: rotate(90deg);
    padding-left: 100px;
    margin: 0;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center; }

  .side3 h3 {
    top: 300px;
    font-size: 45px;
    color: #FA8072; }

  .side4 h2, .side4 h3 {
    transform: rotate(-90deg);
    position: absolute;
    top: 250px;
    left: 0;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center; }

  .side4 h3 {
    top: 300px;
    font-size: 45px;
    color: #FA8072; }

  .side4 {
    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; }

  .description-box {
    position: absolute;
    top: 150px;
    left: 28%;
    min-height: 100vh;
    width: 600px; }

  .description-box2 {
    position: absolute;
    top: 150px;
    left: 28%;
    min-height: 100vh;
    width: 600px; }

  .description-box3 {
    position: absolute;
    top: 150px;
    left: 28%;
    min-height: 100vh;
    width: 600px; }

  .description-box4 {
    position: absolute;
    top: 150px;
    left: 28%;
    min-height: 100vh;
    width: 600px; }

  .agriculture {
    background-image: url(../images/agriculture-background.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative; }

  .health {
    background-image: url(../images/health.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative; }

  .organization {
    background-image: url(../images/organization.svg);
    background-size: cover;
    min-width: 500px;
    min-height: 100vh;
    position: relative; }

  .call {
    background-image: url(../images/call-to-action.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

  .action {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #FA8072;
    border: 6px solid white;
    box-shadow: 3px 3px 1px #888888; }

  .action h3 {
    font-size: 350%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 40%; }

  a {
    text-decoration: none; }

  .action h2 {
    text-align: center;
    padding-top: 40%;
    font-size: 40px; }

  .action h2:hover {
    color: #FA8072; }

  .action:hover {
    background: #4e5256; } }
body {
  color: #333333;
  font-size: 18px;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

p, h2, h3 {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px; }

p {
  font-size: 16px; }

.facts {
  color: #FA8072;
  font-weight: bold;
  font-size: 24px; }

@media screen and (min-width: 48em) {
  p {
    font-family: 'Inconsolata', monospace;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px; } }
a {
  list-style: none; }

.act {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  left: 120px;
  background: #4e5256;
  border: 6px solid #FA8072;
  box-shadow: 1px 1px 1px #888888; }

@media screen and (min-width: 48em) {
  .circle, .second-circle {
    width: 140px;
    height: 140px;
    position: fixed;
    border-radius: 50%;
    top: 0; }

  .circle {
    background: yellow;
    left: 25px; }

  .second-circle {
    background: green;
    right: 25px; } }
#money-map {
  background-color: #19263a;
  fill: #5f6060;
  stroke: #e0e0e0;
  stroke-linejoin: round; }

.top-twenty {
  fill: red; }

.eighty-percent {
  fill: blue; }

.sixty-percent {
  fill: green; }

.fourty-percent {
  fill: orange; }

.twenty-percent {
  fill: brown; }
