
body {
  background: #eeeeee;
  margin: 0 auto;
}

header,
.container,
footer {
  margin: 0 auto;
  max-width: 100%;
}

.wrapper {


  background: #ffffff;
}
h2, p {
  color: #2b2c2d;
}

svg {
  display:block;
}
.opening {
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;



}
.box{
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  font-weight: bolder;
text-align: center;
width: 100%;
height: 100vh;
background: rgba(15,15,15,0.8);
}
.box h2 {
  padding-top: 300px;
  text-align: center;
  font-size: 250%;
  line-height: 1.8;
  padding-left: 5%;
  padding-right: 5%;
  color: #F4F5F5;
  margin: 0;
  font-family: 'Inconsolata', monospace;

}
.box h3 {
  padding-left: 23px;
  padding-right: 5%;
  text-align: center;
  font-size: 260%;
  line-height: 1.8;
  color: #FA8072;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}
img {
  position: absolute;
  right: 85px;
  top: 30px;
  width: 250px;
  height: auto;

}
// .money-background {
//   min-height: 120vh;
//   fill:#EDED51;
//   margin: 0;
// }
.money {
  margin-top:0;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}
.health h2,
.health h3,
.health p,
.organization h2,
.organization h3,
.organization p,
.agriculture h2,
.agriculture h3,
.agriculture p,
.money h2,
.money h3,
.money p {
  padding-left: 7%;
  padding-right: 7%;
}
.side {

  background-color: #EDED51;
  min-height: 100vh;
  width: 50%;
  opacity: 0.1;
  position: absolute;
  top:0;
  right:0;
  margin: 0;
}
.side h2, .side h3 {

  opacity: 0;
}

.description-box h2{
padding-top: 100px;
margin: 0;
}

.side2 h2, .side2 h3 {
  color: rgba(229, 230, 232, 0.9);
  text-align: center;
  opacity: 0;
}

.side2 {

  background-color: #57EAB9;
  min-height: 100vh;
  width: 50%;
  // opacity: 0.5;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.1;
}
.agriculture {
  min-height: 100vh;
  position: relative;
}
.description-box2 h2{
padding-top: 100px;
margin: 0;
}

// health
.health{
  min-height: 100vh;
  position: relative;
}
.side3 h2, .side3 h3 {
  color: rgba(229, 230, 232, 0.9);
  text-align: center;
  opacity: 0;
}
.side3 {

  background-color: #EA6E6E ;
  min-height: 100vh;
  width: 50%;
  opacity: 0.1;
  position: absolute;
  top:0;
  right:0;
}
.description-box3 h2{
padding-top: 100px;
margin: 0;
}

.side4 h2, .side4 h3 {
  color: rgba(229, 230, 232, 0.9);
  text-align: center;
  opacity: 0;
}

.side4 {

  background-color: #57DADD;
  min-height: 100vh;
  width: 50%;
  // opacity: 0.5;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.1;
}
.organization {
  min-height: 100vh;
  position: relative;
}
.description-box4 h2{
padding-top: 100px;
margin: 0;
}


@media screen and (min-width:48em) {
  .opening {
    min-height: 100vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;



  }
  .box{
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    font-weight: bolder;
  text-align: center;
  width: 400px;
  height: 100vh;
  background: rgba(15,15,15,0.8);
  }
  .box h2 {
    padding-top: 250px;
    text-align: center;
    font-size: 40px;
    line-height: 1.8;

    color: #F4F5F5;
    margin: 0;
    font-family: 'Inconsolata', monospace;

  }
  .box h3 {

    text-align: center;
    font-size: 40px;
    line-height: 1.8;
    color: #FA8072;
    margin: 0;
    font-family: 'Inconsolata', monospace;
  }
  img {
    position: absolute;
    right: 95px;
    top: 30px;
    width: 250px;
    height: auto;

  }

// .money----------------------------------
  .money {
    background-image: url(../images/background-project.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    position: relative;
    z-index: 1000;
  }

.money h2 {

  font-weight: 800;
}
  .side {

    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top:0;
    right:0;
  }

  .side h2, .side h3 {
    transform: rotate(90deg);
    // position: absolute;
    // top: 250px;
    padding-left: 100px;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center;
    margin:0;
    opacity: 0.9;
  }
  .side h3 {
    top: 300px;
    font-size: 45px;

    color:#FA8072;

  }
  // .agriculture-------------------------
  .side2 h2, .side2 h3 {
    transform: rotate(90deg);
    padding-left: 100px;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center;
    opacity: 0.9;
  }
  .side2 h3 {
    top: 300px;
    font-size: 45px;

    color:#FA8072;

  }
  .side2 {

    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top:0;
    left:0;
  }
  // .health-----------------------
  .side3 {

    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top:0;
    right:0;
  }

  .side3 h2, .side3 h3 {
    transform: rotate(90deg);

    padding-left: 100px;
    margin:0;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center;
    opacity:0.9;
  }
  .side3 h3 {
    top: 300px;
    font-size: 45px;

    color:#FA8072;

  }
  .side4 h2, .side4 h3 {
    transform: rotate(90deg);
    // padding-top: 200px;
    padding-left: 100px;
    font-size: 100px;
    color: rgba(229, 230, 232, 0.8);
    text-align: center;
    opacity:0.9
  }
  .side4 h3 {
    top: 300px;
    font-size: 45px;

    color:#FA8072;

  }
  .side4 {

    background-color: #27333f;
    min-height: 100vh;
    width: 200px;
    opacity: 0.7;
    position: absolute;
    top:0;
    left:0;
  }
  .description-box {
    position:absolute;
    top:150px;
    left: 28%;
    min-height: 100vh;
    width:600px;
  }
  .description-box2 {
    position:absolute;
    top:150px;
    left: 28%;
    min-height: 100vh;
    width:600px;
    margin:0;
  }
  .description-box2 h2 {
    padding-top: 0;
  }
  .description-box h2 {
    padding-top: 0;
  }
  .description-box3 h2 {
    padding-top: 0;
  }
  .description-box4 h2 {
    padding-top: 0;
  }
  .description-box3 {
    position:absolute;
    top:150px;
    left: 28%;
    min-height: 100vh;
    width:600px;
  }
  .description-box4 {
    position:absolute;
    top:150px;
    left: 28%;
    min-height: 100vh;
    width:600px;
  }
  .agriculture {
    background-image: url(../images/agriculture-background.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }
  .health {
    background-image: url(../images/health.svg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }
  .organization {
    background-image: url(../images/organization.svg);
    background-size: cover;
    min-width:500px;
    min-height: 100vh;
    position: relative;
  }

  .call {
    background-image: url(../images/call-to-action.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative
  }
  .action {

    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #FA8072;
    border: 6px solid white;
    box-shadow: 3px 3px 1px #888888;


  }
  .action h3 {
    // padding-bottom: 200px;
    font-size: 350%;
    text-align: center;
    position: absolute;
    top:0;
    left: 40%;
  }
  a {
    text-decoration: none;
  }
  .action h2 {
    text-align: center;
    padding-top: 40%;
    font-size: 40px;
  }
  .action h2:hover,{
    color: #FA8072;
  }
  .action:hover {
    background:#4e5256;
  }

}
.call {
  background-image: url(../images/call-to-action.svg);

  min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative
}
.action {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #FA8072;
  border: 6px solid white;
  box-shadow: .2px .2px .2px #888888;


}
.action h3 {
  // padding-bottom: 200px;
  font-size: 350%;
  text-align: center;
  position: absolute;
  top:0;
  left: 10%;
}
a {
  text-decoration: none;
}
.action h2 {
  text-align: center;
  padding-top: 40%;
  font-size: 28px;
}
.action h2:hover,{
  color: #FA8072;
}
.action:hover {
  background:#4e5256;
}
.checks {
  text-align: center;
  border-left: .5px solid black;
  border-right: .5px solid black;
  margin-top: 5%;
  margin-left: 5%;
  width: 50%;

}
