

#money-map {
  background-color:#19263a;
  fill:#5f6060;stroke:#e0e0e0;stroke-linejoin:round;

}

.top-twenty {
  fill:red;
}
.eighty-percent {
 fill:blue;
}

.sixty-percent {
 fill: green;
}

.fourty-percent {
 fill: orange;
}

.twenty-percent {
  fill: brown;
}
